{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="AmirBz">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Seda Piano</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css'%}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          صدا پیانو
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">خانه</a></li>
                          <li><a href="meetings.html">دوره ها</a></li>
                          <li class="scroll-to-section"><a href="#apply">منابع</a></li>
                          <li class="scroll-to-section"><a href="#courses">صدای شما</a></li>
                          <li class="scroll-to-section"><a href="#meetings">درباره‌ی ما</a></li> 
                          <li class="scroll-to-section"><a href="#contact">ورود</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>بیشتر</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1" style="direction:rtl;">
      <video autoplay muted loop id="bg-video">
          <source src="{% static 'assets/images/course-video.mp4'%}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>درود بر شما هنرجوی عزیز</h6>
              <h2>به صدا پیانو خوش آمدید</h2>
              <p>در صدا پیانو صدای دورن خود را آزاد کنید</p>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact"><h4>به ما بپیوندید</h4></a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-01.png'%}" alt="">
              </div>
              <div class="down-content">
                <h4>کلاس های آنلاین پیانو</h4>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-02.png'%}" alt="">
              </div>
              <div class="down-content">
                <h4>کلاس های حضوری پیانو</h4>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-03.png'%}" alt="">
              </div>
              <div class="down-content">
                <h4>مشاوره و خرید پیانو</h4>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-03.png'%}" alt="">
              </div>
              <div class="down-content">
                <h4>مقالات آموزشی</h4>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings" style="direction:rtl;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>خدمات ما</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="categories">
            <h4>درباره ما</h4>
            <p>
              کلاس های پیانو ما با آموزش های شخصی سازی شده یادگیری پیانو را به تجربه‌ای و لذت بخش تبدذیل خواهد کرد.
              <br>همین امروز صدا پیانو را به بخشی از لحظه های خود تبدیل کنید.
            </p>
            <div class="main-button-red">
              <a href="meetings.html">ثبت نام</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="meeting-item">
            <div class="thumb">
              <div class="position-relative overflow-hidden h-100" style="min-height: 500px; min-width: 300px;">
                <img class="position-absolute w-100 h-100 bg-white" src="{% static 'images/img-1.png'%}" alt="" style="object-fit: cover;">
                <img class="position-absolute top-0 start-0 bg-dark pe-3 pb-3" src="{% static 'images/img-2.png'%}" alt="" style="width: 200px; height: 200px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


 <section class="apply-now" id="apply" style="direction:rtl;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>کلاس های آنلاین پیانو</h3>
                <div class="main-button-red" style="direction:ltr;">
                  <div class="scroll-to-section"><a href="#contact">ثبت نام</a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>کلاس های خضوری پیانو</h3>
                <div class="main-button-yellow" style="direction:ltr;">
                  <div class="scroll-to-section"><a href="#contact">ثبت نام</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="meeting-item">
            <div class="down-content">
              <a href="meeting-details.html"><h4>دوره ها و کلاس ها</h4></a>
              <p>
                دوره های آموزشی صدا پیانو برای همه سطوح به صورت شخصی سازی شده طراحی می‌شود.
                <br>از مبتدیان تا پیشرفته ها٬ ما با روش های آموزشی تخصصی به شما کمک میکنیم تا مهارت های پیانو خود را دهید و به صدای دل خواهتان برسید.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="contact-us" id="contact" style="direction:rtl;">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>ارطبات با ما</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="نام و نام خوانوادگی" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="لطفا آدرس ایمیل خود را به درستی وارد کنید" placeholder="ایمیل" required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" pattern="09+[0-9]{9}" title="لطفا شماره تماس خود را به درستی وارد کنید" placeholder="شماره تماس" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="متن پیام(اخطاری)" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">ارسال</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>برای ثبت نام و یا ارطبات با ما می‌توانید از یکی از روش های زیر استفاده کنید</h6>
              </li>
              <li>
                <h6>فرم ارتباط با ما</h6>
                <span>با پر کردن این فرم و ارسال آن همکاران ما در اسرع وقت با شما تماس خواهند گرفت</span>
              </li>
              <li>
                <h6>شماره تماس</h6>
                <span style="direction:ltr;">۰۹۱۲ ۱۲۳ ۱۲۱۲</span>
              </li>
              <li>
                <h6>ایمیل</h6>
                <span style="direction:ltr;">info@sedapianostudio.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendors/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <script src="{% static 'assets/js/isotope.min.js'%}"></script>
    <script src="{% static 'assets/js/owl-carousel.js'%}"></script>
    <script src="{% static 'assets/js/lightbox.js'%}"></script>
    <script src="{% static 'assets/js/tabs.js'%}"></script>
    <script src="{% static 'assets/js/video.js'%}"></script>
    <script src="{% static 'assets/js/slick-slider.js'%}"></script>
    <script src="{% static 'assets/js/custom.js'%}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>

